{% extends 'base.html' %}
{% block header %}
    <div class="user" style="padding-right: 8px; display: flex; flex-direction: row; margin-right: 24px;">
        <a href='{% url 'home' %}' style="padding: 8px; margin-right: 12px;">Home</a>
        <div class="username">{{user}}</div>
        <a href="{% url 'logout' %}" class="logout" style="padding: 8px;">Logout</a>
    </div>
{% endblock header %}

{% block content %}
<div class='content-main'>
    <div class='upload'>
        <a href='{% url 'upload' %}'>Upload</a>
    </div>
    {% block homecontent %}
        <div class='video-list'>
            {% if videos == None %}
                <div>No videos found!</div>
            {% else %}
                <ul>
                    {% for video in videos %}
                        <li>
                            <a href="{% url 'video' id=video.id %}">
                                <div class='video-block'>
                                    <img src={{video.video_poster}} width='200' class='video-poster'>
                                    <div class='video-info'>
                                        <span class='title'>{{video.title}}</span>
                                        <div>
                                        {% if video.uploaded_by_name == user %}
                                            <span class='uploaded_by'>you</span>
                                        {% else %}
                                            <span class='uploaded_by'>{{video.uploaded_by_name}}</span>
                                        {% endif %}
                                            <span style="color: rgb(189, 189, 189);">●</span>
                                            <span class='uploaded_at'>{{video.uploaded_at}}</span>
                                        </div>
                                        <div class='description'>{{video.description}}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if videos.has_other_pages %}
            <ul class="pagination">
                {% if videos.has_previous %}
                    <li style="float: left; padding: 8px; margin-right: 2px;"><a href="?page={{ videos.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li style="float: left; padding: 8px; margin-right: 2px;"><span>&laquo;</span></li>
                {% endif %}
                {% for i in videos.paginator.page_range %}
                    {% if videos.number == i %}
                        <li class="current" style="float: left; padding: 8px; margin-right: 2px; background-color: #dadada"><span>{{ i }}</span></li>
                    {% else %}
                        <li style="float: left; padding: 8px; margin-right: 2px; background-color: #e7e7e7"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if videos.has_next %}
                    <li style="float: left; padding: 8px; margin-right: 2px;"><a href="?page={{ videos.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li style="float: left; padding: 8px; margin-right: 2px;"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endblock homecontent %}
</div>
{% endblock content %}