{% extends 'video/home.html' %}
{% block homecontent %}
<div class='sub-upload-content'>
    <h3>Upload Video</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="margin-bottom: 8px; margin-top: 8px;">
            <label for="title" style="margin-left: 60px;">title</label>
            <input id="title" type="text" name="title">
        </div>
        <br>
        <div style="margin-bottom: 8px;">
            <label for="description" style="margin-left: 8px;">description</label>
            <input id="description" type="text" name="description">
        </div>
        <br>
        <div style="margin-bottom: 8px;">
            <label for="categories" style="margin-left: 14px;">categories</label>
            <input id="categories" type="text" name="categories">
        </div>
        <br>
        <div style="margin-bottom: 8px;">
            <label for="video_poster">video poster</label>
            <input id="video_poster" type="file" name="video_poster">
        </div>
        <br>
        <div style="margin-bottom: 12px;">
            <label for="video" style="margin-left: 50px;">video</label>
            <input id="video" type="file" name="video">
        </div>
        <br>
        <button type="submit" class='upload-btn' onclick="location.href={% url 'upload'%}">Upload</button>
    </form>
</div>
{% endblock homecontent %}