{% extends 'video/home.html' %}
{% load static %}
{% block homecontent %}
    <div class='video-section'>
        <video width="700" controls>
            <source src={{video.video.url}} type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <span class='video-title'>{{video.title}}</span>
        <div class='sub-section0'>   
            <div class='video-uploaded_at'>{{video.uploaded_at}}</div>
        </div>
        <div class='sub-section2'>
            {% if video.uploaded_by == user %}
                <span class='video-uploaded_by'>you</span>
            {% else %}
                <span class='video-uploaded_by'>{{video.uploaded_by}}</span>
            {% endif %}
            <div class='video-description'>{{video.description}}</div>
            <span>Category: 
            {% for category in categories %}
                {{category.name}},  
            {% endfor %}
            </span>
        </div>
    </div>
    <div class='comment-section'>
        <form method="post" action="{% url 'user-reaction' id=video.id %}">{% csrf_token %}
            <div style="display: flex; flex-direction: row; margin-bottom: 24px;">
                <input type="submit" name='like' value='like' class='thumbs'>
                <span style="margin-left: 12px; margin-right: 24px">{{likes}}</span>
                <input type="submit" name='dislike' value='dislike' class='thumbs'>
                <span style="margin-left: 12px;">{{dislikes}}</span>
            </div>
            <input id="comment" type="text" name="comment" placeholder='Add comment' class='comment-textbox'>
            <button type='submit' class='comment-button'>comment</button>
        </form>
        <div class='comment-view'>
            {% for comment in comments %}
                {% if comment.added_by == user %}
                    <span class='comment-by'>you</span>
                {% else %}
                    <span class='comment-by'>{{comment.added_by}}</span>
                {% endif %}
                <span style="color: rgb(189, 189, 189);">●</span>
                <span class='comment-at'>{{comment.added_at}}</span>
                <div class='comment-text'>{{comment.text}}</div>
            {% endfor %}
        </div>    
    </div>
{% endblock homecontent %}