<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Youtube</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
<header class='header'>
    <img class='logo' src="{% static '/images/logo.png' %}">
    {% block header %}{% endblock header %}
</header>
<section class='content'>
  {% block content %}
  {% endblock content %}
</section>
</body>
</html>