{% extends 'base.html' %}
 {% block content %}
  <div class='sub-content'>
      <a href="{% url 'user-login' %}"><div class='login-div'>Login</div></a>
      <a href="{% url 'register' %}"><div class='register-div'>Register</div></a>
  </div>
  {% endblock content %}