{% extends 'base.html' %}
{% block content %}
<div class=sub-login-content>
    <h3>Login</h3>
    <form method="post" class='login-form'>
        {% csrf_token %}
        <div>
            <label for="username" style="margin-right: 4px;">username</label>
            <input id="username" type="text" name="username">
        </div>
        <br>
        <div>
            <label for="password" style="margin-right: 4px; margin-left: 1px;">password</label>
            <input id="password" type="password" name="password">
        </div>
        <br>
        <button type="submit" class='login-btn'>Login</button>
    </form>
    {% if message != None %}
        <div class='error-message'>{{message}}</div>
    {% endif %}
</div>
{% endblock content %}