{% extends 'base.html' %}
{% block content %}
<div class='sub-upload-content'>
    <h3>Register</h3>
    <form method="post" class='login-form'>
        {% csrf_token %}
        <div>
            <label for="username" style="margin-right: 4px;">username</label>
            <input id="username" type="text" name="username">
        </div>
        <br>
        <div>
            <label for="email" style="margin-left: 31px; margin-right: 4px;">email</label>
            <input id="email" type="email" name="email">
        </div>
        <br>
        <div>
            <label for="password" style="margin-right: 4px;">password</label>
            <input id="password" type="password" name="password">
        </div>
        <br>
        <button type="submit" class='login-btn'>Register</button>
    </form>
    {% if message != None %}
        <div class='error-message'>{{message}}</div>
    {% endif %}
</div>
{% endblock content %}