body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.error-message {
    color: rgb(129, 8, 8);
    margin-top: 12px;
}
a, a:active, a:hover {
    text-decoration: none;
    text-emphasis: none;
    color: rgb(73, 73, 73);
}
.logout:hover {
    border-bottom: 1px solid #dfdede;
}
label, div {
    color: rgb(73, 73, 73);  
}
ul {
    list-style-type: none;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.logo {
    width: 10%;
    height: 10%;
}
.username {
    background-color: #aaaaaa;
    color: white;
    padding: 8px;
    margin-right: 18px;
    border-radius: 50%;
    text-align: center;
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    height: 100vh;
}
.sub-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 70%;
    margin-top: 24px;
    background-color: white;
    -moz-box-shadow: 0 0 2px rgb(228, 228, 228);
    -webkit-box-shadow: 0 0 2px rgb(228, 228, 228);
    box-shadow: 0 0 2px rgb(228, 228, 228);
    border-radius: 4px;
    padding: 16px;
}
.login-div, .register-div {
    padding: 16px;
    margin: 16px;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 1px 2px rgb(177, 177, 177);
}
.login-div:hover, .register-div:hover {
    background-color: rgb(207, 206, 206);
}
.sub-login-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    margin-top: 24px;
    background-color: white;
    -moz-box-shadow: 0 0 2px rgb(214, 214, 214);
    -webkit-box-shadow: 0 0 2px rgb(214, 214, 214);
    box-shadow: 0 0 2px rgb(214, 214, 214);
    border-radius: 4px;
    padding: 16px;
}
.login-btn, .upload-btn {
    margin-top: 8px;
    border: none;
    border-radius: 5%;
    padding: 6px;
}
.login-btn:hover, .upload-btn:hover {
    background-color: rgb(207, 206, 206);
}
.sub-register-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    margin-top: 24px;
    background-color: white;
    -moz-box-shadow: 0 0 2px rgb(228, 228, 228);
    -webkit-box-shadow: 0 0 2px rgb(228, 228, 228);
    box-shadow: 0 0 2px rgb(228, 228, 228);
    border-radius: 4px;
    padding: 16px;
}
.content-main {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
}
.video-list {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
}
.list-items {
    margin-top: 8px;
}
.pages {
    float: left;
}
.upload {
    margin-top: 32px;
    height: 20px;
    padding: 8px;
    width: 5%;
    text-align: center;
    background-color: #e9e7e7;
}
.upload:hover {
    background-color: rgb(207, 206, 206);
}
.sub-upload-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin-top: 24px;
    background-color: white;
    -moz-box-shadow: 0 0 2px rgb(228, 228, 228);
    -webkit-box-shadow: 0 0 2px rgb(228, 228, 228);
    box-shadow: 0 0 2px rgb(228, 228, 228);
    border-radius: 4px;
    padding: 16px;
    padding-left: 24px;
}
.video-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding-bottom: 12px;
    -webkit-box-shadow: 0 2px 4px -3px rgb(128, 128, 128);
    -moz-box-shadow: 0 2px 4px -3px rgb(128, 128, 128);
    box-shadow: 0 2px 4px -3px rgb(128, 128, 128);
}
.video-info {
    margin-left: 16px;
}
.title {
    font-size: 22px;
}
.description, .uploaded_by, .uploaded_at {
    color: rgb(128, 128, 128)
}
.description {
    margin-top: 12px;
}

.video-section {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
}
.sub-section0 {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #dfdede;
    width: 62%;
}
.video-title {
    font-size: 24px;
    margin-top: 24px;
}
.video-uploaded_at {
    margin-top: 8px;
}
.sub-section2 {
    margin-top: 28px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dfdede;
    width: 62%;
}
.video-uploaded_by {
    font-size: 20px;
}
.video-description {
    margin-top: 32px;
    margin-bottom: 20px;
}
.comment-section {
    margin-bottom: 32px;
}
.thumbs {
    border: none;
    background-color: rgb(226, 245, 255);
    width: 4%;
    border-radius: 5%;
    -webkit-box-shadow: 0 2px 4px -3px rgb(226, 232, 235);
    -moz-box-shadow: 0 2px 4px -3px rgb(226, 232, 235);
    box-shadow: 0 2px 4px -3px rgbrgb(226, 232, 235);
    cursor: pointer;
}
.comment-textbox {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    width: 55%;
    font-size: 18px;
    padding: 4px;
}
.comment-button {
    background-color: none;
    border: none;
    padding: 5px;
    border-radius: 5%;
    cursor: pointer;
}
.comment-view {
    margin-top: 24px;
    margin-bottom: 24px;
}
.comment-by {
    color: rgb(43, 42, 42);
}
.comment-at {
    color: rgb(126, 126, 126);
}
.comment-text {
    margin-top: 12px;
    margin-bottom: 32px;
    color: rgb(63, 63, 63);    
}